<div class="info-container">
  
    <h1>Contact Us</h1>
    <!-- Contact us page-->
  
    <p>If you need any help or support, have questions, or would like to report an issue, please reach out to us:</p>
  
    <!-- Contact information -->
    <ul>
      <li><strong>Email:</strong> support&#64;fitpal.com</li>
      <li><strong>Phone:</strong> +353 123 4567 890</li>
      <li><strong>Address:</strong> FitPal, Ireland</li>
    </ul>
  
    <p>We aim to respond to all queries within 48 hours.</p>
    <p>Thank so much,</p>
    <p>FitPal</p>
  </div>
  