<div class="container mt-5">
  <!--Track your Weight page-->
  <h2>Track Your Weight</h2>

  <div class="mb-3">
    <!-- Input fields for weight and date -->
    <input
      type="number"
      class="form-control mb-2"
      [(ngModel)]="weight"
      placeholder="Enter weight (kg)"
    />
    <input
      type="date"
      class="form-control"
      [(ngModel)]="date"
    />
  </div>

  <!-- Button to add weight entry -->
  <button class="btn btn-primary" (click)="logWeight()">Add Weight</button>

  <div class="mt-5">
    <!-- Display weight log entries in a table for the graph-->
    <canvas id="weightChart"></canvas>
  </div>
</div>
