body.dark-mode {
    background-color: #121212;
    color: #f1f1f1;
  }
  
  body.dark-mode .navbar,
  body.dark-mode .card,
  body.dark-mode .btn {
    background-color: #1e1e1e;
    color: #f1f1f1;
  }
  
  body.dark-mode input,
  body.dark-mode textarea {
    background-color: #1a0077;
    color: #fff;
  }
  